body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}
hr {
    position: relative;
    border: none;
    height: 30px;
    background: white;
    margin-bottom: 50px;
}
nav{
    background-color: transparent !important;   
}